/* .navbar-container{
    background-color: aqua;
    position:absolute;
    top:0;
    height: 100px;
    width: 100%;
    z-index: 1;
    padding: 1rem 0;
    align-items: start;
   
}
.nav-links-container{
    
    margin-top: -620px;
}
.logo{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-family: Open Sans;
    font-weight: 700;  
    margin-top: -620px;

}
.nav-links{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding-left: 20px;
    transition: 0.2s ease-in;
}

.nav-links:hover{
    color: var(--primary-color);
}

.nav-links-dark:hover{
    color: var(--primary-color);
}
/*
.background-dark{
    background-color: #333;
}

.background-transparent{
    background-color: transparent;
}

.relative{
    position: relative !important;
}  */ 

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
    height:100px;
  }
  
  .nav {
    background-color: #835b5b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
  }
  
  .site-title {
    font-size: 2rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  .nav li.active {
    background-color:#835b5b;
  }
  
  .nav li:hover {
    background-color: #835b5b;
  }