.mentor {
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mentor .mentorTitle {
    font-family: cursive;
    font-size: 20px;
    margin-top:25px;
  }
  
  .mentorList {
    width: 50px;
    height:80px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* mentor ITEM STYLING */
  
  .mentorItem {
    border-radius: 20px;
    width: 100px;
    height: 200px;
    margin: 20px;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.2);
  }
  .mentorItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  .mentorImg{
    width:250px;
    height:300px;
    margin:15px;
  
  }
  
  .container{
    padding: 0;
  }
  .mentorItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 50%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .mentorItem h1,
  .mentorItem p {
    margin-left: 20px;
  }
  
  @media only screen and (max-width: 1300px) {
    .mentorList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .mentorList {
      grid-template-columns: 1fr;
    }
  }
  